@use "./variables" as *;

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; color: #222; }

/* wrapper d'app + footer sticky */
#root { min-height: 100svh; }
.app { min-height: 100%; display: flex; flex-direction: column; }
.content {
  flex: 1 0 auto;
  display: flex;            /* <-- important */
  flex-direction: column;   /* les pages/sections s’empilent verticalement */
}

/* conteneur max-width */
.container { max-width: $container; margin: 0 auto; padding: 0 16px; }
